h1 {
    color: blueviolet;
}

li {
    font-weight: bold;
}

h2 {
    text-decoration: underline;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-top: 3px solid black;
    margin: 200 0 0;
}

header {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}


main, .SKILLS {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

